---
import { getCollection } from "astro:content"
import Accordion from "../../components/Accordion.astro"
import AccordionItem from "../../components/AccordionItem.astro"
import SiteLayout from "../../layouts/SiteLayout.astro"
import { groupBy } from "../../utils/groupBy"

const lessons = await getCollection("lessons")
const groupedLessons = groupBy(lessons, (lesson) => lesson.data.topic)
---

<SiteLayout title="Clases">
  <div class="container">
    <h1 class="display-4">Listado de clases</h1>
    <hr />
    <Accordion>
      {/* List lessons by topic */}
      {
        Object.entries(groupedLessons).map(([topic, lessons]) => (
          <AccordionItem title={topic}>
            <ul class="list-group list-group-flush">
              {lessons.map((lesson) => (
                <li class="list-group-item lead fw-semibold">
                  <a href={`./lessons/${lesson.slug}`}>{lesson.data.title}</a>
                </li>
              ))}
            </ul>
          </AccordionItem>
        ))
      }
    </Accordion>
  </div>
</SiteLayout>
