---
import SiteLayout from "../../layouts/SiteLayout.astro"
---

<SiteLayout title="Clases">
  <h1 class="display-4">Listado de clases</h1>
  <hr />
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item border-0">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
          <h3 class="display-6">Proyecto</h3>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse show" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body py-0">
          <ul class="list-group list-group-flush">
            <li class="list-group-item lead fw-semibold">
              <a href="#">Planificaci칩n de proyecto</a>
            </li>
            <li class="list-group-item lead fw-semibold">
              <a href="#">Modelado de proyecto</a>
            </li>
            <li class="list-group-item lead fw-semibold">
              <a href="#">Modelo Entidad-Relaci칩n</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          <h3 class="display-6">Dise침o</h3>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse show" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
      </div>
    </div><div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          <h3 class="display-6">Implementaci칩n</h3>
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse show" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
      </div>
    </div>
  </div>
</SiteLayout>

<style>
.accordion-button:not(.collapsed) {
      background-color: transparent !important;
      color: inherit;
    }

button.accordion-button:focus{
      box-shadow: inherit;
}
</style>