---
import SiteLayout from "../layouts/SiteLayout.astro"
---

<SiteLayout title="Inicio">
	<h1>PDI-Blog</h1>
	<hr />
	<article>
		<p>¡Bienvenido blog de la materia!</p>
		<p></p>
	</article>
</SiteLayout>