---
import { getCollection, getEntry } from "astro:content"
import SiteLayout from "../../layouts/SiteLayout.astro"

export async function getStaticPaths() {
  const tasks = await getCollection("tasks", ({ data }) => data.visible)

  return tasks.map((task) => ({ params: { task: task.slug } }))
}

const { task } = Astro.params
const entry = await getEntry("tasks", task)

if (!entry) {
  throw new Error("Task not found")
}

const { Content, headings } = await entry.render()
---

<SiteLayout title={headings[0].text}>
  <div class="row">
    <Content />
  </div>
</SiteLayout>

<script>
  const $instructions = document.querySelector("#instructions")
  const $bonusInstructions = $instructions.querySelector("#bonus")
  const $quotes = document.querySelectorAll("blockquote")

  if ($quotes)
    $quotes.forEach(($quote) => {
      $quote.classList.add("blockquote", "ms-3")
    })

  if ($instructions) $instructions.classList.add("ms-3")

  if ($bonusInstructions) $bonusInstructions.classList.add("text-black-50")
</script>
