---
import { getCollection } from "astro:content"
import SiteLayout from "../../layouts/SiteLayout.astro"

const tasks = await getCollection("tasks", ({ data }) => data.visible)

tasks.sort((a, b) => {
  const numA = a.data.title.match(/\d+/)?.[0]
  const numB = b.data.title.match(/\d+/)?.[0]

  return (Number(numA) || 0) - (Number(numB) || 0)
})
---

<SiteLayout title="Tareas">
  <div class="container">
    <h1 class="display-4">Listado de tareas</h1>
    <hr />
    <ul class="list-group list-group-flush">
      {
        tasks.map((task) => (
          <li class="list-group-item lead fw-semibold">
            <a href={`/tasks/${task.slug}`}>{task.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</SiteLayout>
