---
import SiteLayout from "./SiteLayout.astro"
---

<SiteLayout>
  <div class="row">
    <div class="col-md-4 col-lg-3">
      <ul id="map" class="sticky-top list-unstyled pt-3"></ul>
    </div>
    <div id="lesson-content" class="col-md-8">
      <slot />
    </div>
  </div>
</SiteLayout>

<!-- Table of Contents -->
<script>
  const $map = document.querySelector("#map")
  const $lessonContent = document.querySelector("#lesson-content")
  const $headings = $lessonContent.querySelectorAll("h1, h2, h3, h4, h5, h6") as NodeListOf<HTMLElement>

  $headings.forEach(($heading) => {
    const tag = $heading.tagName.toLowerCase()
    const $wrapper = document.createElement("li")
    const $link = document.createElement("a")

    $link.href = `#${$heading.id}`
    $link.innerText = $heading.innerText
    $link.style.marginLeft = `${(Number(tag[1]) - 1) * 20}px`
    $wrapper.appendChild($link)
    $map.appendChild($wrapper)
  })
</script>

<!-- Copy to Clipboard Button on Code Blocks -->
<script>
  const $lessonContent = document.querySelector("#lesson-content")
  const $codeBlocks = $lessonContent.querySelectorAll("pre")

  const preCopyLabel = "Copiar"
  const postCopyLabel = "Copiado!"
  const msForLabelReset = 700

  function createCopyCodeButton($target) {
    const $copyButton = document.createElement("button")
    $copyButton.type = "button"
    $copyButton.classList.add(
      "btn",
      "btn-primary",
      "btn-sm",
      "position-absolute",
      "top-0",
      "end-0"
    )
    $copyButton.style = "margin-right: 5px; margin-top: 5px;"
    $copyButton.innerText = preCopyLabel

    $copyButton.addEventListener("click", () => {
      const $code = $target.querySelector("code")

      navigator.clipboard.writeText($code.innerText).then(() => {
        $copyButton.innerText = postCopyLabel
      })

      setTimeout(() => {
        $copyButton.innerText = preCopyLabel
      }, msForLabelReset)
    })

    return $copyButton
  }

  $codeBlocks.forEach(($codeBlock) => {
    const $button = createCopyCodeButton($codeBlock)
    $codeBlock.classList.add("position-relative")
    $codeBlock.appendChild($button)
  })
</script>

<style is:global>
  pre button {
    visibility: hidden;
  }

  pre:hover button {
    visibility: visible;
  }

  blockquote::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -5px -25px;
    background: linear-gradient(90deg, color-mix(in srgb, var(--bs-primary) 30%, transparent 100%) 0%, rgba(255,255,255,0) 50%);
    filter: blur(2px);
    z-index: -1;
  }

  blockquote {
    position: relative;
    border-left: .25em solid var(--bs-primary);
    padding: 5px 25px;
    color: var(--bs-gray);
  }
</style>
